*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav section code start here */
header{
    width: 100%;
    height: 160vh;
}
.logo-ul-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(73, 72, 72);
    font-size: 20px;
}
.logo img{
    width: 40px;
}

.ul-button{
    display: flex;
    align-items: center;
}
.ul-button ul{
    display: flex;
    list-style: none;
}
.ul-button ul li{
    margin-right: 27px;
    font-size: 18px;
}
.nav-btn{
    background-color: #6fb7cf;
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 30px;
    border: none;
}
/* banner section code start here */
.banner-parent{
    width: 1200px;
    margin: 0 auto;
}
.banner-text{
    text-align: center;
    padding-top: 70px;
}
.banner-text h1{
    font-size: 45px;
    color: rgb(65, 64, 64);
}
.banner-text span{
    color: #6fb7cf;
}
.banner-text p{
    margin: 10px 0 30px 0;
    font-size: 20px;
    color: rgb(90, 90, 90);
}
.banner-img{
    text-align: center;
}
.banner-img img{
    width: 700px;
}
.banner-btn-1{
    padding: 10px 30px;
    background-color: #6fb7cf;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
.banner-btn-2{
    border: none;
    font-size: 20px;
}
.banner-btn-2 i{
    color: #6fb7cf;
    font-size: 24px;
    margin-left: 10px;
}
/* card section code start here  */
.card-section{
    padding: 100px 80px;
}
.card-parent{
   display: flex;
   justify-content: center;
   gap: 74px;
}
.card-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-icon{
    font-size: 36px;
    color: #207f9e;
    background-color: #6fb7cf56;
    padding: 12px 17px;
}
.card-text h2{
    color: #5a99ad;
    margin-bottom: 10px;
    font-size: 25px;
}
.card-text p{
    font-size: 17px;
}
/* creative section code start here */
.creative-sec{
    padding: 0 80px 60px 80px;
}
.creative-parent{
    display: flex;
    align-items: center;
    gap: 30px;
}
.creative-text h5{
    font-size: 20px;
    color: rgb(112, 111, 111);
    font-weight: 300;
}
.creative-text h2{
    font-size: 30px;
    margin: 8px 0 18px 0;
    color: rgb(75, 74, 74);
}
.creative-text p{
    font-size: 16px;
    color: rgb(90, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}
.creative-text ul{
    list-style: none;
    font-size: 20px;
    color: rgb(90, 90, 90);
}
.creative-text ul li{
    margin: 10px 0;
}
.creative-text i{
    color: #448497;
}
.creative-btn{
    background-color: #5297ad;
    color: #fff;
    padding: 11px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 25px;
}
.creative-btn i{
    color: #fff;
    font-size: 20px;
}
.creative-image-parent{
    display: flex;
    gap: 20px;
}
.creative-image img{
    width: 300px;
}

.creative-image-sidebar img:nth-child(1){
    margin-bottom: 22px;
}
.creative-image-sidebar img{
    width: 295px;
}
